#heading {
    background-color: navy !important;
    color: white;
}
.fa-newspaper{
    color: white;
    margin-left: 230px;
    margin-inline-end: 20px;
}
h1{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold !important; 
}

#second-newspaper{
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}
.card-header{
    font-weight: bold;
}
.fa-search{
    margin-left: 25px;
    margin-right: 10px;  
}

.clear-btn{
    margin-left: 30px;
    margin-right: 20px;  
}
